* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0 6.4rem 0 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 95vh;

  background-color: #f9fdfa;
}

.page-title {
  font-size: 6.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3.2rem;

  text-transform: uppercase;
  border: 2px solid #69db7c;
  padding: 2.4rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #69db7c;

  padding: 3.2rem;

  border-radius: 1.2rem;
}
.content-container-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-days-without {
  margin-bottom: 1.6rem;
  border-radius: 1.2rem;
  border: none;
  padding: 0.8rem;
}

.btn-go,
.btn-difficulty {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #69db7c;
  padding: 1.2rem;
  border-radius: 1.2rem;
  cursor: pointer;
}

.btns-difficulty {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  padding-top: 1.4rem;
}

/* Suggestions */

.suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  background-color: #fff;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
  width: 100%;
}

.suggestion-title {
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.suggestion-num {
  color: #4a9957;
  font-size: 2.2rem;
}

.suggestion-text {
  font-size: 1.8rem;
  font-weight: 500;
}

/* //////////////////////////////////////// */
/* General Styles */

.secondary-heading {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.secondary-text {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

.hidden {
  opacity: 0;
}
